*.Rproj
.Rproj.user
Rugosity_15as_F.dbf
Rugosity_15as_F.shp
gravel_1stattempt.RData
covariate_example.RData
gravel_2ndattempt.RData
gravel_3rdattempt.RData
strata_covs_spring.RData
strata_cats_1.RData
strata_cats_2.RData
strata_cats_3.RData
.Rhistory
strata_cats_5.RData
strata_cats_6.RData

