*.Rproj
.Rproj.user
*.Rhistory
.Rhistory
*Rhistory
Rugosity_15as_F.dbf
Rugosity_15as_F.shp
gravel_1stattempt.RData
covariate_example.RData
gravel_2ndattempt.RData
gravel_3rdattempt.RData
strata_covs_spring.RData
strata_cats_1.RData
strata_cats_2.RData
strata_cats_3.RData
strata_cats_5.RData
strata_cats_6.RData
VAST_runs/StrataDensCats_7/parameter_estimates.RData
VAST_runs/StrataDensCats_7/strata_cats_7.RData
VAST_runs/StrataDensCats_7_BathyOnly/parameter_estimates.RData
VAST_runs/StrataDensCats_7_BathyOnly/strata_cats_7_bathyonly.RData
VAST_runs/StrataDensCats_7_noBLLS/parameter_estimates.RData
VAST_runs/StrataDensCats_7_noBLLS/strata_cats_7_noBLLS.RData
data/RData_Storage/substrate_specific_indices.RData
VAST_runs/StrataDensCats_7_noSentinel/parameter_estimates.RData
VAST_runs/StrataDensCats_7_noSentinel/strata_cats_7_noSentinel.RData
VAST_runs/effort_adjustment/effort_adjustment.RData
VAST_runs/effort_adjustment/parameter_estimates.RData
VAST_runs/refine_effort/refine_effort.RData
VAST_runs/refine_effort/parameter_estimates.RData
VAST_runs/StrataDensCats_7_alltrawl/parameter_estimates.RData
VAST_runs/StrataDensCats_7_alltrawl/strata_cats_7_alltrawl.RData
.Rhistory
.Rhistory
